*{
  padding: 0;
  margin: 0;
}

body{
  background:rgb(189, 165, 165);
  margin: 0;
}

header{
  position: fixed;
  width: 100%;
  z-index: 10000000;
  background-color:rgba(255,255,255,0.2);
  border-bottom: 5px solid rgba(255,255,255,0.2);
}

article{
  width: 50%;
  inset: 0;
  margin: auto;
}

#global-nav{
  position: 0 50px;
  width: 100%;
}

#title{
  display: block;
  text-align: center;
  width:50%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  box-sizing:border-box;
}

#title a{
  color: #fff;
  padding: 0;
}

#title, #global-nav{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float: left;
  cursor: pointer;
}

#title:hover{
  animation: hover 0.5s forwards 1 ease-out;
}

#global-nav li:hover{
  animation: hover 0.5s forwards 1 ease-out;
}


@keyframes hover{
  0{
    opacity: 0;
  }
  100%{
    letter-spacing:5px;
    background-color:brown;
    opacity: .8;
    font-size:1.12em;
  }
}

#global-nav li{
  float: left;
  width:25%;
  box-sizing:content-box;
  border-right: 1px solid #fff;
  box-sizing:border-box;
}

#global-nav ul{
  list-style: none;
  text-align: center;
} 

#global-nav a{
  color: #fff;
  font-size: 2em;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
}


#box1{
  padding:0% 10% 50% 10%;
  width: 100%;
  color: #fff;
  text-align: center;
}

h4{
font-size: 3em;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding: 10% 0 5% 0;
}

.works{
  display: block;
  text-align: center;
  float: left;
  width: 20%;
  padding: 0 0px 30px 50px;
}

.works img{
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 5px 10px 2px 0px rgb(173, 150, 152) ;
  cursor: pointer;
}


.works h3{
  padding: 10% 0 0 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  background: linear-gradient(transparent 50%, rgb(112, 105, 105) 40%);

}

.tx{
  opacity: 0;
}

.works img:hover + .tx{
  opacity: 1;
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.works img:hover{
  animation: scale 0.5s forwards;
}


@keyframes scale{
  0%{
    transform: scale(1);
  }
  10%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1.05);
    opacity: 0.6;
  }
}

.works p{
  margin: 0;
  font-size: 0.8em;
}

/*ここからモーダル*/


/*ここまでモーダル*/

#box2{
  padding:0% 10% 50% 10%;
  color: #fff;
  height: 50px;
  text-align: center;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}

hr{
  padding: 2.5px 0;
  border-bottom: 5px dashed #fff;
}

.migita,.zikosyo{
  float: left;
  text-align: center;
}

.migita{
  width:30%;
}

.migita img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10%;
}

.zikosyo{
  text-align: left;
  width: 70%;
  padding: 0 10%;
}

  #container {
    text-align: center;
  }

  
