*{
  padding: 0;
  margin: 0;
}

html{
  background-color:darksalmon;
}

header {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 10000000;
  }

#global-nav{
  width: 100%;
}

#title{
  display: block;
  text-align: center;
  background-color: burlywood;
  width:60%;
}

#title a{
  font-size: 3em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0;
}

#title, #global-nav{
  float: left;
}

#global-nav li{
  float: left;
  width:20%;
  border-right: 1px solid #fff;
  background-color: aqua;
}

#global-nav ul{
  list-style: none;
  text-align: center;
} 

#global-nav a{
  display: block;
  height: 60px;
  padding: 20px 0 0 0;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#global-nav{
}


  #box1{
    background:rosybrown;
    padding:10% 10% 50% 10%;
    width: 100%;
    color: #fff;
    cursor: pointer;
  }

  #box2{
    background-color: #aa2;
    padding-top: 150px;
    color: #fff;
    height: 50px;
    text-align: center;
  }

.works{
  display: block;
  text-align: center;
  float: left;
  width: 20%;
  padding: 0 20px 30px 20px;
}

.works img{
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 5px 10px 2px 0px rgb(169, 120, 124) ;
}


.works h3{
  padding: 10% 0 0 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tx{
  opacity: 0;
}

.works img:hover + .tx{
  opacity: 1;
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.works img:hover{
  animation: scale 0.5s forwards;
}

@keyframes scale{
  0%{
    transform: scale(1);
  }
  10%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1.05);
    opacity: 0.6;
  }
}

.works p{
  margin: 0;
  font-size: 0.8em;
}

/*ここからモーダル*/


/*ここまでモーダル*/

  #container {
    padding-top: 150px;
  }
  
